/**home.scss**/
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section {
  padding: 60rpx;
  text-align: center;
}

.welcome-text {
  font-size: 40rpx;
  font-weight: bold;
  color: #333;
  line-height: 1.6;
}

